<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo_Update</title>
</head>
<body>
    <form  method="POST" action="/update/{{t.id}}">
        {{ form.csrf_token }}
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" class="form-control" value={{t.title}}></td>
            <br>
            <td>내용</td>
            <td><input type="text" name="desc" value={{t.desc}}></td>
        </tr>   
        <hr>
        <tr>
            <td colspan="2"><input type="submit" value="Edit"></td>
        </tr>
    </form>
</body>
</html>